{% extends "layout.html" %}


{% block title %}
    <title>Sls Chatroom</title>
   
{% endblock title %}



{% block content %}
<div class="">
    <div class="hero is-primary">
        <div class="hero-body">
            <h2 class="title">SLS Chatroom Api</h2>
        </div>
        <div class="hero-footer">

            <nav>hello</nav>
        </div>
    </div>

    <section class="section columns">

        <nav class="menu column">
            <div class="menu-label">Links</div>
            <ul>
                <li><a href="{{api_root_url}}">Api Root</a></li>
                <li><a href="https://github.com/stevenlsjr/sls-chatroom">Github</a></li>
                <li><a href="/docs/">Api Docs</a></li>
                {% if user.is_superuser %}
                    <li><a href="{{admin_url}}">Admin</a></li>
                {% endif %}
                    
            </ul>
        </nav>
        <article class="column">
            <a href="{{logout_url}}">Log Out</a>
        </article>
    </section>
</div>
{% endblock content %}
    
    